<h2>Dengqinghua's Blogs</h2>

<p>
  Hello! 这里是邓擎铧的技术博客.
</p>
<p>
  主要包括: Ruby, Java和Go, 也包括一些自己的开源项目, 如<a href="https://github.com/dengqinghua/scales_practice">吉他音阶练习</a>.
</p>
<p>
  对生活热忱, 永远充满热爱和热情, 更多我的信息, 请查看<a href="http://dengqinghua.github.io/about">我的主页</a>.
</p>
